.pageHead {
    margin: auto;
    text-align: center;
}

.sidebar {
    float: left;
    width: 20%;
    height: 600px;
    background: #f6f5f5;
}

.weatherbox {
    margin-top: 100px;
    margin-left: 40px;
    background: #f6f5f5;
    height: 200px;
    width: 200px;
}

#cityInput {
    width: 100px;
}

#displayWeather {
    float: right;
    width: 80%;
    height: 600px;
    background: #f8efd4;
}