a {
    color: #335d2d;
}

body {
    font-family: 'Barlow', sans-serif;
}

button {
    margin-left: 1px;
}

p {
    line-height: 0.2;
}

.city-list {
    display: block;
    border: solid 1px black;
    margin: 10px 5px 0 5px;
    width: 100px;
    height: 40px;
    padding: 5px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.current {
    line-height: 20px;
}

.date {
    margin-top: 25px;
    font-weight: bold;
}

.fab {
    margin: 8px 10px 0 0;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #99b898;
    text-align: center;
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
}

.pageHead {
    margin: 5px auto 15px auto;
    text-align: center;
    border: 1px solid black;
    width: 450px;
    background: #99b898;
}

.sidebar {
    padding: 10px 0 0 25px;
    float: left;
    width: 12%;
    height: 450px;
    background: #99b898;
    border: solid 1px black;
    border-left: 0;
}

.uv-low {
    background: #7ea04d;
}

.uv-moderate {
    background: #f39233;
}

.uv-high {
    background: #ea5455;
}

.uv-vhigh {
    background: #c060a1;
}

.uv-extreme {
    background: #66bfbf;
}

.uv-div {
    margin-top: 0;
}

.weather-box {
    margin: 40px auto;
    background: #99b898;
    height: 225px;
    width: 250px;
    border: solid 1px black;
}

.weather-box p {
    font-size: 0.7rem;
}

#city-input {
    width: 100px;
}

#current-uv {
    padding: 3px;
    border: solid 1px black;
    border-radius: 10px;
    color: white;
}

#display-weather {
    float: right;
    width: 84%;
    border: 1px solid black;
    padding: 0 0 25px 0;
    margin-left: 2%;
    margin-right: 2%;
    background: #99b898;
}

#today {
    margin-left: 10px;
    margin-top: 5px;
}

#wb0 {
    width: 95%;
    height: 200px;
    margin: 10px auto;
    background: #f6f5f5;
}

#weather-icon, #today-text {
    display: inline;
}

a:hover {
    color: #557571;
}